{{define "_header"}}
		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="index.html">Go and Give</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li>
						<a href="" class="icon fa-angle-down">Go to...</a>
						<ul>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="http://goandgive.wordpress.com/">Blog</a></li>
						</ul>
					</li>
					<li><a href="#" class="button" id="clicktosignup">Sign Up</a></li>
				</ul>
			</nav>
		</header>
{{end}}